  <div class="m-3">
    <h3><p>ご利用方法のご説明</p></h3>
    <ul>
      <h4>①ユーザー登録</h4>
        <li class="mb-3 ml-5">[Sign up]:ユーザー名の登録と有効なメールアドレスおよびパスワードの登録をしてください。</li>
        <li class="mb-3 ml-5">[Login]:有効なメールアドレスとパスワードを入力してください。ログイン後、プロフィール編集が行えます。</li>
        <li class="mb-3 ml-5">ナビバー[profile edit]:各種プロフィールの値が入力できます。</li>
      <h4>②ユーザー情報の入力</h4>
        <li class="mb-3 ml-5">[Best_score]:ベストスコアを数値で入力してください。</li>
        <li class="mb-3 ml-5">[Distance]:ドライバーの平均飛距離を数値で入力してください。</li>
        <li class="mb-3 ml-5">[Address]:現在のお住まいを入力してください。</li>
        <li class="mb-3 ml-5">[Birth_place]:出身地を入力してください。</li>
        <li class="mb-3 ml-5">[Home_course]:所属コースもしくは、よく行くコースを入力してください。</li>
        <li class="mb-3 ml-5">[image]:ご自身の画像（５MBが最大容量）を添付してください。</li>
        <li class="mb-3 ml-5">[Swing_Video]:youtubeのURL※を張り付ることで動画を埋め込むことができます。
          <br><small>※youtube動画画面の右下[共有]→[埋込]にあるURL[https://www.youtube.com/embed/○○○○○○○]における[○○○○○○]を
          入力してください。<br>読込を軽くしたいので、最大10秒程度の動画にしてください。。。</small></li>
        <li class="mb-3 ml-5">[your youtube channel]:自身のyoutubechannelがあれば、URLを張り付けてください。</li>
        <li class="mb-3 ml-5">[Password]及び[Confirmation]:値を入力することで、パスワードを変更できます。</li>
        <li class="mb-3 ml-5">[open or closed]:[open]を選択した場合は、外部ユーザーにもプロフィールが公開されます。</li>
        <li class="mb-3 ml-5">[open or closed]:[closed]を選択した場合は、ログインユーザーにのみプロフィールが公開されます。</li>
    </ul>
  </div>