<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <img class="img-fluid" src="main_visual.jpg" >
  
<% else %>


<div class="jumbotron">
  <h1 class="display-5">Welcome to the Golfersfarm</h1>
  <p class="lead">世界初！ゴルファー達の<br>プロフィール登録サイトです！
    <br>今すぐ、登録して<br>あなたのゴルファーとしての<br>プロフィールを発信しよう！</p>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="m-2">
        <p>今すぐ登録しよう！</p>
         <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="m-2">
       <p>このサイトについて！</p>
         <%= link_to 'learn more!', about_path, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
</div>

<% end %>
