<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <img class="img-fluid" src="main_visual.jpg" >
  
<% else %>


<div class="jumbotron">
  <h1 class="display-5">Welcome to the Golfersfarm</h1>
  <p class="lead">このアプリケーションは日本初！すべてのゴルファー達のプロフィールを登録し、公開するものです！
    <br>現在作成中です！もう少々お待ちください！</p>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="">
        <!--<p>今すぐ登録しよう！</p>
         <#%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="ml-5">
       <p>このサイトについて！</p>
         <#%= link_to 'learn more!', about_path, class: 'btn btn-lg btn-primary' %>-->
      </div>
    </div>
</div>

<% end %>
