// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_image img {
  width: 100%;
}

.thumbnail {
   float: left;
  #margin: 25px;
  #width: 200px;
  #height: 200px;
}

.img-responsive{
  display: block;
  height: 300px;
  max-width: 100%;
}