// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_image img {
  width: 100%;
}

.thumbnail {
   float: left;
   margin: 10px;
   width: auto;
   height: auto center;
   border:1px;
   object-fit: cover; 
}

.img-responsive{
  display: block;
  height: 193px;
  max-width: 100%;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


 .nav-tabs{
   font-size:11px;
    }


