<footer id="sticky-footer" class="py-4 bg-dark ">
    <div class="container text-center">
      <div class="text-center">    
        <%= link_to 'お問合せ', new_contact_path, class: "ml-1 text-white-50" %>
        <%= link_to '使い方について', about_path, class: "ml-1 text-white-50" %>
        <%= link_to 'プライバシポリシー', privacy_path, class: "ml-1 text-white-50" %>
        <%= link_to '利用規約', protocol_path, class: "ml-1 text-white-50" %>
      </div>
  </div>
  <!-- Copyright -->
   <div class="footer-copyright text-center text-white-50 py-3">
     © 2019 Copyright:JW
  </div>
    </div>
</footer>