<footer class="mt-3">
    
    <%= link_to 'inquiry', new_contact_path %>
    <%= link_to 'about', about_path %>
  <!-- Copyright -->
   <!--<div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
    <!--<a class="dark-grey-text" href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>