
<section id="news">
      <div class="container bg-white">
        <h2>Information</h2>
          <table class="table text-center">
                <tr>
                  <th><span class="label label-default">New</span></th>
                  <td>2019/8/15</td>
                  <td>プロフィール登録項目を追加しました！</td>
                </tr>
                <tr>
                  <th></th>
                  <td>2019/7/10</td>
                  <td>Golfersfarmを公開しました！</td>
                </tr>
            </table>
          </div>
      </div>
  </section>
