<section id="vison">
  <div class="container text-center">
    <h1 class="mt-5"><em>【V I S O N】</em></h1>
      <h3 class="pb-3 mb-4 mt-4">ゴルフを、もっと楽しく</h3>
      
      <h5 class="pb-4">
        Golfersfarmは、あなたが主役のゴルファープロフィール登録サイトです。
      </h5>
      <h5 class="pb-4">
        ツアープロのように、あなたのクラブセッティングやスウィング、
      </h5>
      <h5 class="pb-4">
        さらに、これまでの競技実績まで登録可能です。
      </h5>
      <h5 class="pb-4">
        あなたの<span class="text-danger">紹介ツール</span>として、
      </h5>
      <h5 class="pb-4">
          あなたの<span class="text-danger">ゴルフ人生の履歴</span>として、
      </h5>
      <h5 class="pb-3">ぜひ、ご利用ください！
      </h5>
        <div class="border-bottom">
          <h5 class="pt-5 pb-2">
            まずは、登録から
          </h5>
           <%= link_to 'Sign up now!', signup_path, class: ' mb-3 btn btn-lg btn-primary' %>
        </div>
  </div>
</section>
